.Posts_List {
    border: solid 1px #004A54;
    width: 100%;
    background-color: #DBE5E6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    justify-content: center; /* Horizontally center the element */
    align-items: center
  }
  .post-body_main {
    display: flex;
    justify-content: center; /* Horizontally center the element */
    align-items: center; /* Vertically center the element */
     /* Full height of the viewport */
}
  .Posts_List_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
    list-style-type: none;
    padding: 3%;
    border-radius: 5%;
  }
  #dark .Posts_List_ul,
  #dark.post_box
  {
    background-color: #03282e;
    color: #DBE5E6;
  }
  #light .post-button{
    background-color: #f3f6f6;
    margin-top: 5%;
    padding: auto;
    width: 50%;
    border: solid 1px #DBE5E6;
    border-radius: 5%;
    color: #03282e;
  }
  #light .p_submit_box,
  #light .p_button{
    background-color: #ffffff;
    border-radius: 5%;
    border: solid 1px #ffffff;
  }
  #light .post-container_m_p,
  #light .post-container_t h2{
    color: #004A54;
    text-align: center;
  }
  #dark .p_submit_box,
  #dark .p_button{
    background-color: #ffffff;
    border-radius: 5%;
    border: solid 1px #ffffff;
  }
  .p_submit_box_bottom{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  #dark .post-container_t_1 h2{
    color:#ffffff;
  }
  .post_box {
    width: 98%;
    border: solid #F0F3F3 2px;
    padding: 5px;
    border-radius: 5%;
    box-sizing: border-box;
  }
  #dark .post_box {
    width: 98%;
    border: solid #F0F3F3 2px;
    padding: 5px;
    border-radius: 5%;
    box-sizing: border-box;
  }
  .p_submit_box{
    text-align: center;
    font-size: large;
    border-radius: 5%;
    padding: 2%;
  }
  #post-content {
    width: 80%; /* Set the width of the input box to 100% of its container */
    box-sizing: border-box
  }
  .post-container_m{
    margin-top: 5%;
  }
  .post_box_t_b{
    color: #004A54;
    margin-bottom: 5%;
    font-size: large;
    font-weight: bolder;
    }
    #dark .post_box_t_b{
      color: #F0F3F3;
      margin-bottom: 5%;
      font-size: large;
      font-weight: bolder;
      }
  .post_box_b{
    color: #004A54;
    font-size: x-large;
    font-weight: bolder;
    }
    #dark .post_box_b{
      color: #F0F3F3;
      font-size: large;
      font-weight: bolder;
      }
  .post-container_t {
    color: #004A54;
    text-align: center;
  }
  #dark .post-container_t,
  #dark .post-container_m_p,
  #dark .post-container_t h2{
    color: #f7feff;
    text-align: center;
  }
  .p_button{
    margin-top: 5%;
    padding: 2%;
    border-radius: 5%;
  }

    @media (max-width: 375px) {
    .Post_List {
      margin: 20px; /* Adjust spacing */
      padding: 20px;
    }
    .post-button {
      width: 50%;
      margin-top: 10%;
      margin-bottom: 10%;
    }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post-button {
      width: 50%;
      border-radius: 5%;
    }
    .post_box {
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post-content_box {
      width: 100%;


    }
    .Posts_List_ul {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
    @media (max-width: 575px) {
      .post-container_t {
        margin-top: 5%;
        color: #004A54;
        text-align: center;
      }
      .Post_List {
        margin: 20px; /* Adjust spacing */
        padding: 20px;
      }
      .post-button {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .post-button {
        width: 50%;
        border-radius: 5%;
      }
      .post_box {
        padding: 5px;
        border-radius: 5%;
        box-sizing: border-box;
      }
      .post-content_box {
        width: 100%;
      
        resize: vertical;
      }
      .Posts_List_ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .post_box_b,
      .post_box_p {
        font-size: 15px;
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      .post-container_t {
        margin-top: 5%;
        color: #004A54;
        text-align: center;
      }
      .Post_List {
        margin: 20px; /* Adjust spacing */
        padding: 20px;
      }
      .post-button {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .post-button {
        width: 50%;
        border-radius: 5%;
      }
      .post_box {
        padding: 5px;
        border-radius: 5%;
        box-sizing: border-box;
      }
      .post-content_box {
        width: 100%;
      }
      .Posts_List_ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .post_box_b,
      .post_box_p {
        font-size: 15px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .post-container_t {
        margin-top: 5%;
        color: #004A54;
        text-align: center;
      }
      .Post_List {
        margin: 20px; /* Adjust spacing */
        padding: 20px;
      }
      .post-button {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .post-button {
        width: 50%;
        border-radius: 5%;
      }
      .post_box {
        padding: 5px;
        border-radius: 5%;
        box-sizing: border-box;
      }
      .post-content_box {
        width: 100%;
      }
      .Posts_List_ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .post_box_b,
      .post_box_p {
        font-size: 15px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .post-container_t {
        margin-top: 5%;
        color: #004A54;
        text-align: center;
      }
      .Post_List {
        margin: 20px; /* Adjust spacing */
        padding: 20px;
      }
      .post-button {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .post-button {
        width: 50%;
        border-radius: 5%;
      }
      .post_box {
        padding: 5px;
        border-radius: 5%;
        box-sizing: border-box;
      }
      .post-content_box {
        width: 100%;
      }
      .Posts_List_ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .post_box_b,
      .post_box_p {
        font-size: 15px;
      }
    }
    @media (min-width: 1200px) {
      .post-container_t {
        margin-top: 5%;
        color: #004A54;
        text-align: center;
      }
      .Post_List {
        margin: 20px; /* Adjust spacing */
        padding: 20px;
      }
      .post-button {
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .post-button {
        width: 50%;
        border-radius: 5%;
      }
      .post_box {
        padding: 5px;
        border-radius: 5%;
        box-sizing: border-box;
      }
      .post-content_box {
        width: 100%;

      }
      .Posts_List_ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .post_box_b,
      .post_box_p {
        font-size: 15px;
      }
    }