
.Posts_List_ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
  gap: 20px;
  text-align: center;
  list-style-type: none;
  border-radius: 5%;
}
.post-container_body{
  margin: 20px;
}
#light .post_box
{
  background-color: #ffffff;
  color: #03282e;
}
#dark .post_box
{
  background-color: #03282e;
  color: #DBE5E6;
}

#light .p_submit_box,
#light .p_button{
  background-color: #004A54;
  border-radius: 15%;
  border: solid 1px #DBE5E6;
  color: #DBE5E6;
}
#light .post-container_m_p,
#light .post-container_t h2{
  color: #004A54;
  text-align: center;
}
#dark .p_submit_box,
#dark .p_button{
  background-color: #ffffff;
  border-radius: 15%;
  border: solid 1px #ffffff;
}
.p_submit_box_bottom{
  margin-top: 10%;
  text-align: center;
}
#dark .post-container_t_1 h2{
  color:#ffffff;
}
.post_box {
  width: 100%;
  border: solid #F0F3F3 2px;
  padding: 5px;
  border-radius: 5%;
  box-sizing: border-box;
}

.p_submit_box{
  text-align: center;
  font-size: large;
  border-radius: 15%;
  padding: 10px;
}

.post-container_m{
  margin-top: 10%;
  margin-bottom: 10%;
}
.post-container_t {
  margin-bottom: 5%;
  color: #004A54;
  text-align: center;
}
#dark .post-container_t,
#dark .post-container_m_p,
#dark .post-container_t h2{
  color: #f7feff;
  text-align: center;
}
.p_button{
  margin-top: 5%;
  padding: 2%;
  border-radius: 15%;
}
@media (max-width: 375px) {
  .post-container_body{
    margin: 10px;
  }
  .Posts_List_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    gap: 20px;
    text-align: center;
    list-style-type: none;
    border-radius: 5%;
  }
  .post-container_t {
    margin-top: 35%;
    color: #004A54;
    text-align: center;
  }
  .post_box {
    width: 100%;
    border: solid #F0F3F3 2px;
    padding: 10px;
    border-radius: 5%;
    box-sizing: border-box;
    margin: 3%;
  }
  .post_box_b,
  .post_box_p {
    font-size: 15px;
  }
}
  @media (max-width: 575px) {
  .post-container_body{
    margin: 20px;
  }
  .Posts_List_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    gap: 20px;
    text-align: center;
    list-style-type: none;
    border-radius: 5%;
  }
    .post-container_t {
      margin-top: 25%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .post-container_body{
      margin: 50px;
    }
    .Posts_List_ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
      gap: 20px;
      text-align: center;
      list-style-type: none;
      border-radius: 5%;
    }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .post-container_body{
      margin: 50px;
    }
  .Posts_List_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    gap: 20px;
    text-align: center;
    list-style-type: none;
    border-radius: 5%;
  }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .post-container_body{
      margin: 50px;
    }
  .Posts_List_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    gap: 20px;
    text-align: center;
    list-style-type: none;
    border-radius: 5%;
  }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 1200px) {
    .post-container_body{
      margin: 50px;
    }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .Posts_List_ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
      gap: 20px;
      text-align: center;
      list-style-type: none;
      border-radius: 5%;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 1200px) {
    .post-container_body{
      margin: 50px;
    }
    .Posts_List_ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
      gap: 20px;
      text-align: center;
      list-style-type: none;
      border-radius: 5%;
    }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }
  @media (min-width: 1200px) {
    .post-container_body{
      margin: 20px;
    }
    .Posts_List_ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
      gap: 20px;
      text-align: center;
      list-style-type: none;
      border-radius: 5%;
    }
    .post-container_t {
      margin-top: 5%;
      color: #004A54;
      text-align: center;
    }
    .post_box {
      width: 100%;
      border: solid #F0F3F3 2px;
      padding: 5px;
      border-radius: 5%;
      box-sizing: border-box;
    }
    .post_box_b,
    .post_box_p {
      font-size: 15px;
    }
  }