.Posts_List_ul {
    list-style-type: none; /* リストマーカーを非表示にします */
    border: 2px solid #ddd;
    width: 100%;
    min-height: 200px; /* Minimum height */
    background-color: #ffe4f6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20%,20%;
    padding: 20%,20%;
}
.dark-mode .Posts_List_ul {
    background-color: #33003c; /* New background color for dark mode */
  }

.button {
    background-color: #33003c;
    width: 50%;
    height: 40%;
    font-weight: bolder;
    margin: auto;
    padding: auto;
    border: solid 1px;
    font-size: large;
    border-radius: 5%;
    text-align: center;
    color: whitesmoke;
}
