.main_body {
    margin-top: 30vh;
    margin-bottom:  15vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vh; /* Set width and height to same value for a perfect circle */
    height: 70vh;
    font-size: 5vw;
    border-radius: 50%;
    text-align: center;
  }

  .sign_up{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  .password ,
  .username{
    font-family: 'Mali', cursive;
    width: 80vh;
    font-weight: 700;
    font-size: small;
    letter-spacing: 1px;
    padding: 2% 2%;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin: 1% auto;
    font-family: "Ubuntu", sans-serif;
  }
  .sign_up_username,
  .sign_up_password

    {
        font-family: 'Mali', cursive;
        width: 50vh;
        font-weight: 700;
        font-size: small;
        letter-spacing: 1px;
        padding: 2% 2%;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        text-align: center;
        margin: 1% auto;
        font-family: "Ubuntu", sans-serif;
    }
  #light .username,
  #light .password {
    color: rgb(38, 50, 56);
    background: rgba(136, 126, 126, 0.04);
  }
  #dark .username,
  #dark .password {
    color:#004A54;
    border: 1px solid #F0F3F3;
    background: rgba(255, 247, 247, 0.299);
  }
  .about-content_t{
    font-size: medium;
    font-weight: bold;
    color:#004A54;}
  .username:focus,
  .password:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }
  .submit {
    width: 50vh; /* Set the width of the button to 50% of the parent container */
    margin-top: 10hv;
    display: inline-block;
    background-color: #F0F3F3;
    color:#004A54;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    border:0;
    outline:0;
    border-radius: 10px;
  }
  .sign_up_submit{
    width: 30vh;
    display: inline-block;
    background-color: #F0F3F3;
    color:#004A54;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    border:0;
    outline:0;
    border-radius: 10px;
  }
  .main_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Login{
    font-size: 24px;
    color:  #004A54;
    font-weight: bold;
  }
  .flash-error{
    font-size: x-small;
    color:  #004A54;
    font-weight: bold;
  }
  .main_body_box{
    display: flex;
    width: 70vh;
    height: 70vh;
    justify-content: center;
    align-items: center;
  }
#dark .username,
#dark .sign_up,
#dark .sign_up_username,
#dark .sign_up_password
{

  color: #004A54;
}
#light .sign_up,
#light .sign_up_username,
#light .sign_up_password
#light .btn,
#light .large-button_1{

  color: #004A54;
}



@media (min-width: 370px) and (min-height: 800px) {
  .main_body {
      width: 35vh; /* Adjust width for smaller height screens */
      height: 45vh;  /* Maintain height equal to the width for a perfect circle */
  }
  .main_form{
    width: 45vh; /* Adjust width for smaller height screens */
    height: 45vh;
  }
  .sign_up_username,
  .username,
  .sign_up_password,
  .password  {
      width: 35vh; /* Set width and height to same value for a perfect circle */
      height: 4vh;
  }
  .submit {
      width: 20vh; /* Set width and height to same value for a perfect circle */
      height: 6vh;
  }
}
  @media only screen and (min-width: 480px) and (max-width: 831px) {
      .main_body {
        width: 40vh; /* Adjust width for smaller height screens */
        height: 40vh; /* Maintain height equal to the width for a perfect circle */
      }
      .main_form{
        width: 45vh; /* Adjust width for smaller height screens */
        height: 45vh;
      }
      .sign_up_username,
      .username,
      .sign_up_password,
      .password{
        width: 25vh; /* Set width and height to same value for a perfect circle */
        height: 3vh;
      }
      .submit{
        width: 20vh; /* Set width and height to same value for a perfect circle */
        height: 5vh;
      }
  }

  /*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
  @media  (max-width: 480px)and (min-height: 800px) {
    .main_body {
      width: 40vh; /* Adjust width for smaller screens */
        height: 40vh; /* Maintain height equal to the width for a perfect circle */
 }
 .main_form{
  width: 45vh; /* Adjust width for smaller height screens */
  height: 45vh;
}
.sign_up_username,
.username,
.sign_up_password,
.password{
   width: 25vh; /* Set width and height to same value for a perfect circle */
   height: 3vh;
 }
 .submit{
        width: 20vh; /* Set width and height to same value for a perfect circle */
        height: 5vh;
      }
  }

  /* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
  @media (min-width: 831px) and (max-width: 1199px){
    .main_body {
      margin-top: 20vh;
      margin-bottom:  15vh;
      width: 60vh; /* Adjust width for smaller screens */
        height: 60vh;/* Maintain height equal to the width for a perfect circle */
 }
    .sign_up_username,
    .username,
    .sign_up_password,
    .password{
   width: 35vh; /* Set width and height to same value for a perfect circle */
   height: 5vh;
 }
 .submit{
  width: 30vh; /* Set width and height to same value for a perfect circle */
  height: 5vh;
}


    }
    @media(max-height: 800px){
      .main_body {
        margin-top: 30vh;
        width: 55vh; /* Adjust width for larger screens */
        height: 55vh; /* Maintain height equal to the width for a perfect circle */
      }
      .Login{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 2vh;
      }
      .sign_up_username,
      .username,
      .sign_up_password,
      .password{
        width: 35vh; /* Set width and height to same value for a perfect circle */
        height: 5vh;
      }
      .submit{
        margin-top: 2vh;
        width: 30vh; /* Set width and height to same value for a perfect circle */
        height: 7vh;
      }

    }
    @media (min-width: 1200px) and (min-height: 800px) {
      .main_body {
        margin-top: 25vh;
        width: 60vh; /* Adjust width for larger screens */
        height: 60vh; /* Maintain height equal to the width for a perfect circle */
      }
      .sign_up_username,
      .username,
      .sign_up_password,
      .password{
        width: 30vh; /* Set width and height to same value for a perfect circle */
        height: 5vh;
      }
      .submit{
        width: 35vh; /* Set width and height to same value for a perfect circle */
        height: 5vh;
      }
    }
