/* Reset list style, padding, and margin for navigation links */
.nav_link {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
/* Default link styles */
.nav_link a,
.nav_link a:visited {
  color: #000; /* Or any other color you want for light mode */
}

/* Light mode link styles */
#light .nav_link a,
#light .nav_link a:visited {
  color: #000; /* Or any other color suitable for light mode */
}

/* Dark mode link styles */
#dark .nav_link a,
#dark .nav_link a:visited {
  color: whitesmoke;
}
#light .greeting p {

  color: #000000; /* Example: Changing the text color to green */
  font-weight: bold; /* Example: Making the text bold */

}
.greeting_box{
  margin-left: 15%;

  margin-top: 2%;
}
#dark greeting p{
  color: whitesmoke;
  font-weight: bold;

}
/* Dark mode link styles */
.dark-mode .nav_link a,
.nav_link a:visited,
.nav_link a:hover,
.nav_link a:active {
  color: whitesmoke;
}

/* Adjust spacing between links */
.nav_link li {
  margin-left: 5%;
  
}

/* Remove the right margin from the last item in the list */
.nav_link li:last-child {
  margin-right: 0;
}

/* Style for logo text */
.logo_text p {
  text-decoration: none;
  color: inherit; /* Will take the color from its parent element */
}
