.nav {
  /* Fixed position styles */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #FFF; /* Assuming a light background for the navbar */
  }

.logo_container {
  display: flex;
  align-items: center;
  /* additional styling */
}


.nav_link {
  list-style: none; /* リストのスタイルをなくす */
  display: flex; /* Flexboxによる横並び表示 */
  margin: 0; /* 外側余白をなくす */
  padding: 0; /* 内側余白をなくす */
  justify-content: center; /* 子要素を中央揃えにする */
  width: 100%;
  flex-wrap: wrap;
}

/* Default link styles */
.nav_link a,
.nav_link a:visited {
  color: #000; /* Or any other color you want for light mode */
}

/* Light mode link styles */
#light .nav_link a,
#light .nav_link a:visited {
  color: #000; /* Or any other color suitable for light mode */
}

/* Dark mode link styles */
#dark .nav_link a,
#dark .nav_link a:visited {
  color: whitesmoke;
}
#light .greeting p {

  color: #000000; /* Example: Changing the text color to green */
  font-weight: bold; /* Example: Making the text bold */

}
.greeting_box{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-top: 10px; /* 上部ナビゲーションリンクからの空間を作成 */
  align-self: stretch;
}
#dark greeting p{
  color: whitesmoke;
  font-weight: bold;
  align-items: center;

}
/* Dark mode link styles */
.dark-mode .nav_link a,
.nav_link a:visited,
.nav_link a:hover,
.nav_link a:active {
  color: whitesmoke;
}


.header {
  position: fixed; /* Keep the header at the top */
  width: 100%; /* Full width */
  top: 0;
  left: 0;
  z-index: 10; /* Ensure it's above other content */
  display: flex; /* Use Flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-bottom: var(--header-height); /* Adjust padding as needed */
}

/* Adjust spacing between links */
.nav_link li {
  margin-right: 20px;
}

/* Remove the right margin from the last item in the list */
.nav_link li:last-child {
  margin-right: 0;
}

/* Style for logo text */
.logo_text p {
  text-decoration: none;
  color: inherit; /* Will take the color from its parent element */
}
/* 他のスタイル */

/* 大きな画面用のスタイル */
@media (min-width: 2000px) {
  .header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* Other styling as needed */
  }
  .navbar_container {
    flex-direction: column;/* 水平方向にアイテムを並べる */
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center; /* アイテムを均等に分散 */
    padding: 0.5rem; /* 必要に応じて調整 */
    background-color: #FFF; 
  }
  .navbar_container_1,
  .greeting_box {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex: 1; /* Each container takes up an equal amount of space */
  }

  .nav_link li,
  .greeting_box {
    margin-right: 10px;
    order: 2;
    width: auto; /* コンテンツに基づいて幅を自動調整 */
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav_link li:last-child {
    margin-right: 0;
  }
  .nav_link {
    flex-wrap: nowrap; /* アイテムを折り返さない */
  }

  /* ナビゲーションリストアイテム間の余白を削除 */
  .nav_link li + li {
    margin-left: 0;
  }
  .greeting_box {
    order: 2; /* Ensure the greeting box comes after nav links */
    margin-top: 0.5rem; /* Add some space between nav links and greeting box */
  }
  }
/* 小さな画面用のスタイル（例：携帯電話） */
@media (mix-width: 768px) {

  .navbar_container {
    display: flex;
    justify-content: space-between; /* This spreads .nav_link and .greeting_box across the navbar */
    align-items: center;
    width: 100%;
    padding: 0.5rem; /* Adjust as needed */
    background-color: #FFF;
  }
  .nav_link {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 20px; /* Creates a gap between nav items */
  }

  .greeting_box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 0; /* Do not allow it to grow; it should only take up as much space as needed */
    margin-left: auto; /* Pushes the greeting box to the right */
    margin-top: 10px;
    align-self: stretch;
  }

  .nav_link {
    flex-wrap: nowrap; /* アイテムを折り返さない */
  }

}
