
.logo {
  position: fixed;
  top: 450px; /* Adjust the desired top position as needed */
  left: 20px; /* Adjust the desired left position as needed */
  width: 30px; /* Set the desired width */
}
.header_main{display: flex;
  justify-content: space-between;}
.navlinks_log p{
  float: left;
  cursor: default;
  font-size: 24px; /* Increase the font size to make the text larger */
}

.navlinks_header {
  text-align: center; /* Align to the Center */
  cursor: pointer;
}
.header_center_body{
display: flex;

}
.navlinks{display: flex;
  justify-content: space-between;}
.header_main{
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}
li, a, button{
  font-weight: 600;
  font-family: 'Mali', cursive;
  font-size: 16px;
  text-decoration: none;
}
header{
  position: fixed; /* Make the header fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100vw; /* Set width to 100% of the viewport width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px black;
  z-index: 999;
}
header:hover{
  box-shadow: 2px 2px 25px black;
  transition: 0.5s;
}
#light .opnen_img{
  width: 50px;


  background-color: #004A54;
  color: #DBE5E6;
}
#dark .opnen_img{
  width: 50px;


  background-color: #DBE5E6;
  color: #DBE5E6;
}

.header_box{display: flex;}
#light .header,
#light .header_box,
#light .nav,
#light .items,
#light .items li a,
#light .header:hover,
#light .nav_link a:hover,
#light .nav_link_text,
#light .navlinks,
#light .navlinks .items a,
#light .header_a,
#light .darkmode_box,
#light .items_switch_box,
#light .navlinks li a,
#light .sidebar{
  background-color: #004A54;
  color:#DBE5E6; /* ナビゲーションバーの背景色 */
  font-weight: bold;/* Or any other color suitable for light mode */
}
.darkmode_box p{margin-bottom: 5px;}
/* Dark mode link styles */
#dark .header,
#dark .header:hover,
#dark  .header_box,
#dark .navlinks li,
#dark .items li a,
#dark .navlinks .items a,
#dark .nav_link a:hover,
#dark .navlinks,
#dark .items,
#dark .opnen_img,
#dark .navlinks li a:hover,
#dark .darkmode_box,
#dark .items_switch_box,
#dark .navlinks li a,
#dark .sidebar,
#dark .open_img_box,
#dark .nav_link_text{
  background-color:#DBE5E6;
  color:#004A54;
  font-weight: bold;
}
/* Light mode styles for the image */
#dark.logo {
  filter: invert(0); /* Keep the original color in light mode */
}

/* Dark mode styles for the image */
 #light .logo {
  filter: invert(1); /* Invert the colors to make the image white in dark mode */
}

.navlinks{
  width: 100vw;
  height: 80px;
}
.navlinks li{
  margin: 30px;
  align-items: center;
  color:#DBE5E6
}
.navlinks .items a {
  color: rgb(248, 248, 250); /* Change the color to blue or any other color you prefer */
}
.navlinks li a:hover{
  color: rgb(237, 255, 211);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.items_switch_box{
  background-color:#DBE5E6;
}
.logo-container {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 1000; /* Ensure the logo appears on top of other elements */
}

.switch_box{
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: -3px 0 10px black;
  display: none;
  justify-content: flex-start;
  list-style: none;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
.sidebar li{
  width: 100%;
  margin: 25px;
  cursor: pointer;
}

.sidebar img{
  position: absolute;
  bottom: 300px;
  width: 150px;

}
nav ion-icon{
  font-size: 2em;
  position: absolute;
  top: 35px;
  right: 20px;
}
h2{
  color: #DBE5E6;
  text-shadow: #002423 -2px 2px 10px;
  font-size: 2em;
  margin: 20%;
  text-align: center;
}
.nav_link_text{
  display: flex;
  text-align: center;
}
.open_img_box {
 
  display: flex;
  justify-content: flex-end; /* Align the content to the right */
 /* Adjust the margin as needed */
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px; /* Default width for larger screens */
  z-index: 999;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: -3px 0 10px black;
  display: none;
  justify-content: flex-start;
  list-style: none;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}


.opnen_img {
  cursor: pointer;
  width: 50px;

  margin-top: -10px;
  background-color: #004A54;
  color: #DBE5E6;
}
.items_switch {
  float: right; /* Align the items switch to the right */
  margin-right: 20px; /* Adjust the right margin as needed for spacing */
}
@media only screen and (min-width: 830px){
  .open_img_box,
  .opnen_img {
    display: none;}
  .navlinks {
    width: 100vw;
    text-align: center;
  }
  .switch_box{
     float: right;
      margin-right: 20px;
    }
  .opnen_img{
    float: right;
    margin-right: 10px; /* Adjust the margin as needed */
  }

}
@media only screen and (max-width: 830px){
  .open_img_box {
        justify-content: flex-end; /* Align the content to the right */
  /* Optional: Adjust the margin if needed /* Adjust the margin as needed */
  }

  .switch_box,
  .items_switch_box,
  .header_center{display: none;}
  .navlinks{
    width: 100vw;
  }

}
@media only screen and (min-width: 376px) and (max-width: 830px){
  .sidebar {
    width: 60%; /* Set sidebar width to 60% on smaller screens */
  }


}