.post-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust to occupy full width of the grid cell */
  height: auto; /* Let content dictate height */
  border: solid #F0F3F3 2px;
  padding: 5px;
  border-radius: 5%;
  box-sizing: border-box;
  justify-content: center;
  margin: 10px;
}
.content-and-like_body {
  margin: 10px;
  max-height: 200px;
  max-width: 280px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-align: center;
}

.content-and-like_body p,
.post-list-item p {
  overflow: hidden;
  max-height: 200px;
  max-width: 280px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-align: center;
}
.myPosts_List_top {
  margin-top: 150px; /* Adjusted margin for tablet screens */
  text-align: center;
  margin-bottom: 30px;
}

.posts-grid-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-align: center;
  list-style-type: none;

  border-radius: 5%;
}
.myPosts_List_top{
margin-top: 200px;
text-align: center;
margin-bottom: 30px;
}
#dark .post-list-item {
  background-color: #03282e;
  color: #DBE5E6;
}

#light .post-list-item {
  color: #004A54;
}
  #dark .myPosts_List_top h2,
  #dark .myPosts_List_top{
  color: #DBE5E6;
  }
  #light .myPosts_List_top,
  #light .myPosts_List_top h2,
  #light .post-list-item {
  color:#004A54;
  }
  /* Continue with the rest of your CSS... */
  /* Make sure that only relevant elements inherit the text-align property */
  label, h2, button {
    text-align: center;
    font-weight: bold;
    color:#004A54
  }
  .top{
    font-weight: bold;
  }
  .fullposts ul {
    list-style: none;
  }

  .author-and-follow_name p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 20px;
    text-align: center;
  }
  .author-and-follow_name{
    font-size: 32px;
  }
  .post_top{
    margin-top: 7px;
    font-weight: bold;
  }
  .bottom{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .follow_btn,
  .like_btn {
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    flex-shrink: 0;
    padding: 8px 12px;
    margin-left: 10px; /* Adjust spacing as needed */
    cursor: pointer;
    border-radius: 4px;
  }
  #dark .follow_btn{
    flex-shrink: 0;
    background-color: #DBE5E6;
    color: #004A54;
    border: none;
    padding: 5px 12px;
    margin-left: 10px; /* Spacing between the text and button */
    cursor: pointer;
    border-radius: 4px;
   /* Adjust spacing as needed */
  }

  #dark .like_btn {
    background-color: #DBE5E6;
    color: #004A54;
    border: none;
    padding: 8px 12px;
    margin-left: 10%; /* Spacing between the text and button */
    cursor: pointer;
    border-radius: 4px;
   /* Adjust spacing as needed */
  }
  #dark .post-list-item p{
    color:#DBE5E6;
  }
  #dark .post-list-item span {
    color:#DBE5E6;  /* Sets the text color to black */
  }
  /* Add other selectors for any additional text elements you want to target, for example: */
  #dark .author-and-follow,
  #dark .content-and-like {
    color:#DBE5E6; /* Set text color to black */
  }
  .author-and-follow{
  display: flex;
  justify-content: space-between;
  }
  .content-and-like {
  display: flex; /* Display as flex container */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Place items at the ends of the container */
  }
  @media only screen and (max-width: 375px) {
    .posts-grid-body {
      text-align: center;
      grid-template-columns: repeat(1, 1fr); /* Adjust to display one column for screens smaller than 375px */
  }
      .post-list-item p{
          margin: 10px;
          max-height: 200px;
          max-width: 280px; /* Set a maximum height for the post body content */
          overflow: hidden; /* Hide overflow content if it exceeds the max height */
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Limit the number of lines to display */
          -webkit-box-orient: vertical;
          word-wrap: break-word; /* Enable word wrapping */
          text-align: center;
      }
      .content-and-like_body{
          margin: 10px;
          max-height: 200px;
          max-width: 280px; /* Set a maximum height for the post body content */
          overflow: hidden; /* Hide overflow content if it exceeds the max height */
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-wrap: break-word; /* Enable word wrapping */
          text-align: center;
      }
      .myPosts_List_top{
        margin-top: 150px; 
        text-align: center;
        margin-bottom: 30px;
      }
      .myPosts_top {
        margin-top: 15px; /* Less margin for slightly larger screens */
    }
      .posts-grid-body{
          display: grid;
          grid-template-columns: repeat(1, 1fr); /* Display five columns */
          text-align: center;
          list-style-type: none;
          border-radius: 5%;
        }
        #dark .post-list-item{
          background-color: #03282e;
        }
        #dark .myPosts_List_top h2,
        #dark .post-list-item ,
        #dark .myPosts_List_top{
        color: #DBE5E6;
        }
        #light .myPosts_List_top,
        #light .myPosts_List_top h2,
        #light .post-list-item {
        color:#004A54;
        }
        /* Continue with the rest of your CSS... */
        /* Make sure that only relevant elements inherit the text-align property */
        label, h2, button {
          text-align: center;
          font-weight: bold;
          color:#004A54
        }
        .top{
          font-weight: bold;
        }
        .fullposts ul {
          list-style: none;
        }
        .author-and-follow_name p{
          font-size: 20px;
          font-weight: bold;
          margin-top: 3px;
          margin-bottom: 20px;
          text-align: center;
        }
        .author-and-follow_name{
          font-size: 32px;
        }
        .post_top{
          margin-top: 7px;
          font-weight: bold;
        }
        .bottom{
          text-align: center;
          display: flex;
          justify-content: center;
        }
        #dark .follow_btn{
          flex-shrink: 0; 
          background-color: #DBE5E6;
          color: #004A54;
          border: none;
          padding: 5px 12px;
          margin-left: 10px; /* Spacing between the text and button */
          cursor: pointer;
          border-radius: 4px;
         /* Adjust spacing as needed */
        }
        #dark .like_btn {
          background-color: #DBE5E6;
          color: #004A54;
          border: none;
          padding: 8px 12px;
          margin-left: 10%; /* Spacing between the text and button */
          cursor: pointer;
          border-radius: 4px;
         /* Adjust spacing as needed */
        }
        #dark .post-list-item p{
          color:#DBE5E6;
        }
        #dark .post-list-item span {
          color:#DBE5E6;  /* Sets the text color to black */
        }
        /* Add other selectors for any additional text elements you want to target, for example: */
        #dark .author-and-follow,
        #dark .content-and-like {
          color:#DBE5E6; /* Set text color to black */
        }
        .author-and-follow,
        .content-and-like {
            flex-direction: column; /* Stacks the elements vertically */
            justify-content: center;
            align-items: center;
        }
      }
      @media only screen and (min-width: 376px) and (max-width: 830px){
        .posts-grid-body {
          text-align: center;
          grid-template-columns: repeat(1, 1fr); /* Display two columns for tablets */
      }

        .post-list-item {
            align-items: stretch;
          }
          .myPosts_top {
            margin-top: 15px; /* Less margin for slightly larger screens */
        }
        .myPosts_List_top {
          margin-top: 150px; /* Adjusted margin for tablet screens */
          text-align: center;
          margin-bottom: 30px;
      }
            .follow,
            .author-and-follow,
            .content-and-like {
                flex-direction: column; /* Stacks the elements vertically */
                justify-content: center;
                align-items: center;
            }
  }
  @media only screen and (min-width: 831px) and (max-width: 1280px){
    .posts-grid-body {
        text-align: center;
        grid-template-columns: repeat(2, 1fr); /* Display three columns for larger tablets */
    }
    .myPosts_List_top {
      margin-top: 150px; /* Adjusted margin for tablet screens */
      text-align: center;
      margin-bottom: 30px;
  }

    .myPosts_List_top{
      margin-top: 150px;
    }
    .myPosts_top {
      margin-top: 15px; /* Less margin for slightly larger screens */
    }
      .follow,
      .author-and-follow,
      .content-and-like {
          flex-direction: column; /* Stacks the elements vertically */
          justify-content: center;
          align-items: center;
      }
  }

  @media only screen and (min-width: 1281px) {
    .posts-grid-body {
        text-align: center;
        grid-template-columns: repeat(4, 1fr); /* Display four columns for larger screens like PCs */
    }

    .myPosts_List_top {
        margin-top: 150px; /* Adjusted margin for desktop screens */
        text-align: center;
        margin-bottom: 30px;
    }
    .myPosts_top {
        margin-top: 15px; /* Less margin for desktop screens */
    }
    .author-and-follow,
    .content-and-like {
        flex-direction: column; /* Stacks the elements vertically */
        justify-content: center;
        align-items: center;
    }
}

