
.post-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center-align content vertically */
  width: 300px;
  height: 320px;
  border: solid #F0F3F3 2px;
  border-radius: 5%;
  box-sizing: border-box;
  margin: 10px;
  animation: slide-in-right-to-left 0.5s ease-in-out;
}

.post-body{
  max-height: 200px; /* Set a maximum height for the post body */
    overflow: hidden;
}
.fullposts_detail_button_box {
  color: #004A54;
  cursor: pointer;
  border: none;
}
#light .fullposts_detail_button,
#light .fullposts_detail_link{
  color: #004A54;
  cursor: pointer;
}


.post_top {
  top:100px;
  margin: 10px;
  font-weight: bold;
  position: absolute;
  max-height: 200px;
  max-width: 280px; /* Set a maximum height for the post body content */
  overflow: hidden; /* Hide overflow content if it exceeds the max height */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the number of lines to display */
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Enable word wrapping */
  text-align: center;
}
.fullposts_detail_link {
  position: absolute;
  bottom: 20px;
  left: 44%;
  text-align: center;
  cursor: pointer;
  z-index: 1;

}
.content-and-like_body {
  margin: 0 auto; /* 左右中央に配置 */
}
.post-list-item ul {
  list-style-type: none; /* Remove default list styling */
}
#dark .fullposts_detail_link {
  color:  #DBE5E6;
}
#dark .fullposts_detail_button{
  color:  #DBE5E6;
  cursor: pointer;
}
.fullpost_box_p{
  top:150px;
  margin: 10px;
  position: absolute;
  max-height: 200px;
  max-width: 280px; /* Set a maximum height for the post body content */
  overflow: hidden; /* Hide overflow content if it exceeds the max height */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the number of lines to display */
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Enable word wrapping */
  text-align: center;
}

.myPosts_List_top {
  margin-top: 150px; /* Adjusted margin for tablet screens */
  text-align: center;
  margin-bottom: 30px;
}
#dark .post-list-item {
  background-color: #03282e;
  color: #DBE5E6;
}
  #dark .myPosts_List_top h2,
  #dark .myPosts_List_top{
  color: #DBE5E6;
  }
  #light .myPosts_List_top,
  #light .myPosts_List_top h2,
  #light .post-list-item {
  color:#004A54;
  }
  .top{
    font-weight: bold;
  }
  .fullposts ul {
    list-style: none;
  }
  .author-and-follow{
    max-width: 290px;
    justify-content: center;
    text-align: center;
  }
  .author-and-follow_name{
    text-align: center;
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 20px; /* Adjust according to your design */
    right: 50%; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%); /* Adjust according to your design */
    cursor: pointer;
    z-index: 1; /* Ensure the button appears on top of other content */
  }
  .bottom{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .follow_btn{
    margin-top: 10px;
    text-align: center;
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    padding: 3px 10px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 10px; /* Adjust according to your design */
    right: 50px; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%); /* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
  .like_btn {
    margin-top: 10px;
    text-align: center;
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    padding: 3px 10px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-radius: 4px;
  }
  .content-and-like {
    width: 290px;
    text-align: center;
  }
  #dark .follow_btn,
  #dark .like_btn{
    cursor: pointer;
    background-color: #DBE5E6;
    color: #004A54;
  }
  .posts-grid-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; /* グリッド要素を水平方向中央に配置 */
    align-items: center; /* グリッド要素を垂直方向中央に配置 */
    list-style-type: none;
    width: fit-content;
    position: relative;
    border-radius: 5%;
  }
  #dark .post-list-item p{
    color:#DBE5E6;
  }
  #dark .post-list-item span {
    color:#DBE5E6;  /* Sets the text color to black */
  }
  /* Add other selectors for any additional text elements you want to target, for example: */
  #dark .author-and-follow,
  #dark .content-and-like {
    color:#DBE5E6; /* Set text color to black */
  }

  @media only screen and (max-width: 375px)  {
    .posts-grid-body {
      text-align: center;
      grid-template-columns: repeat(1, 1fr); /* Display three columns for larger tablets */
  }
  .myPosts_List_top {
    margin-top: 150px; /* Adjusted margin for tablet screens */
    text-align: center;
    margin-bottom: 30px;
  }
  .like_btn {
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 210px;
    left: 55px;/* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%);/* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
  .follow_btn{
    text-align: center;
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 40px; /* Adjust according to your design */
    left: 55px; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%); /* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
  .post_top {
    position: absolute; /* Set absolute position for precise alignment */
    top: 90px;
    cursor: pointer;
    z-index: 1;
    margin: 10px;
    max-width: 300px; /* Set a maximum height for the post body content */
    overflow: hidden;
    justify-content: center; /* Hide overflow content if it exceeds the max height */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the number of lines to display */
    -webkit-box-orient: vertical;
    word-wrap: break-word; /* Enable word wrapping */
    text-align: center;/* Show '...' when text exceeds the container */
  }
 .myPosts_List_top{
    margin-top: 150px;
  }
  .myPosts_top {
    margin-top: 15px; /* Less margin for slightly larger screens */
  }
  }
   @media only screen and (min-width: 376px) and (max-width: 830px){
      .posts-grid-body {
          text-align: center;
          grid-template-columns: repeat(1, 1fr); /* Display three columns for larger tablets */
      }
      .myPosts_List_top {
        margin-top: 150px; /* Adjusted margin for tablet screens */
        text-align: center;
        margin-bottom: 30px;
      }
      .like_btn {
        font-weight: bold;
        position: absolute; /* Set absolute position for precise alignment */
        top: 210px;
        left: 55px; /* Position the button at horizontally middle of the post item */
        transform: translate(50%, 10%);/* Adjust according to your design */
        cursor: pointer;
        z-index: 1;
      }
      .follow_btn{
        text-align: center;
        background-color: #004A54;
        color: #F0F3F3;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        position: absolute; /* Set absolute position for precise alignment */
        top: 40px; /* Adjust according to your design */
        left: 55px; /* Position the button at horizontally middle of the post item */
        transform: translate(50%, 10%); /* Adjust according to your design */
        cursor: pointer;
        z-index: 1;
      }
      .post_top {
        position: absolute; /* Set absolute position for precise alignment */
        top: 90px;
        cursor: pointer;
        z-index: 1;
        margin: 10px;
        max-width: 300px; /* Set a maximum height for the post body content */
        overflow: hidden;
        justify-content: center; /* Hide overflow content if it exceeds the max height */
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limit the number of lines to display */
        -webkit-box-orient: vertical;
        word-wrap: break-word; /* Enable word wrapping */
        text-align: center;/* Show '...' when text exceeds the container */
      }
     .myPosts_List_top{
        margin-top: 150px;
      }
      .myPosts_top {
        margin-top: 15px; /* Less margin for slightly larger screens */
      }
    }
  @media only screen and (min-width: 831px) and (max-width: 1280px){
    .posts-grid-body {
        text-align: center;
        grid-template-columns: repeat(2, 1fr); /* Display three columns for larger tablets */
        margin-bottom: 50px;
    }
    .myPosts_List_top {
      margin-top: 250px; /* Adjusted margin for tablet screens */
      text-align: center;
      margin-bottom: 30px;
  }
  .like_btn {
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 210px;
    left: 55px;; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%);/* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
  .follow_btn{
    text-align: center;
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 40px; /* Adjust according to your design */
    left: 55px; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%); /* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
   .myPosts_List_top{
      margin-top: 150px;
    }
    .myPosts_top {
      margin-top: 15px; /* Less margin for slightly larger screens */
    }
  }

  @media only screen and (min-width: 1281px) {
  .post-list-item,
  .author-and-follow_name{
    text-align: center;
  }
    .posts-grid-body {
        text-align: center;
        grid-template-columns: repeat(4, 1fr);/* Display four columns for larger screens like PCs */
        margin-bottom: 50px;
      }

      .fullposts_detail_link {
        position: absolute;
        bottom: 20px;
        left: 44%;
        text-align: center;
        cursor: pointer;
        z-index: 1;
      }
  .like_btn {
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 210px;
    left: 55px; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%);/* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
  .follow_btn{
    text-align: center;
    background-color: #004A54;
    color: #F0F3F3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    position: absolute; /* Set absolute position for precise alignment */
    top: 40px; /* Adjust according to your design */
    left: 55px; /* Position the button at horizontally middle of the post item */
    transform: translate(50%, 10%); /* Adjust according to your design */
    cursor: pointer;
    z-index: 1;
  }
    .myPosts_List_top {
        margin-top: 150px; /* Adjusted margin for desktop screens */
        text-align: center;
        margin-bottom: 30px;
    }
    .myPosts_top {
        margin-top: 15px;
        display: flex;
        justify-content: space-around; /* Less margin for desktop screens */
    }
}

