#light .post-button {
  background-color: #f3f6f6;
  margin-top: 5px;
  padding: auto; /* This property is not valid, consider using specific padding values */
  width: 80px;
  border: solid 3px #DBE5E6;
  border-radius: 10px;
  color: #03282e;
}
#dark .post_body_top {
 color: #DBE5E6;
}
#light .post_body_top{
  color: #004A54;
}
#dark .post-button {
  background-color:  #03282e;
  width: 80px;
  margin-top: 5px;
  padding: auto; /* This property is not valid, consider using specific padding values */
  border: solid 1px #f3f6f6;;
  border-radius: 10px;
  color: #f3f6f6;
}

.post_body_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px  #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 20vmin; /* Set width and height to same value for a perfect circle */
  font-size: 5vw;
  padding: 10px;
  text-align: center;
}
 #dark .new_post label,
 #dark .new_post_title,
 #dark .new_post_body_Text {
  color: #DBE5E6;
}
.new_post label {
  font-size: 16px;
}

.new_post_body label,
.new_post label {
  font-weight: bold;

}

.post_body_top {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

#post-main_box {
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Set the height to full viewport height to center vertically */
  /* Additional styling for the content inside .new_post_body */
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: 300px;
  height: 80px;/* Added max-width for larger screens */
}

.new_post_title,
.new_post_body_Text{
 font-weight: bolder;
 font-size: 16px;
 margin-top: 5px;
 margin-bottom: 5px;
}
#post-title_box {
  border-radius: 10px;
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: 300px; /* Added max-width for larger screens */
  margin-top: 20px;
  height: 40px;
}
#light .new_post label,
#light .new_post_title,
#light .new_post_body_Text,
#light .post_body_top h3 {
  color: #004A54;
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  .post_body_main {
    margin-top: 10%; /* Adjusted margin for better positioning */
    width: 100%; /* Adjusted width percentage for landscape orientation */
    max-height: 90vh; /* Adjusted maximum height relative to viewport height */
    overflow-y: auto;
  }

}

@media only screen and (min-width: 830px) {
  .post_body_main {
    width: 50%; /* Adjusted width percentage for larger screens */
    max-height: 90vh;
  }
  .post_body_top{
    font-size: 32px;
  }

.new_post_body label,
.new_post label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
#post-main_box {
  margin-top: 10px;
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: 300px;
  height: 150px;/* Added max-width for larger screens */
}

}

@media only screen and (max-width: 830px) {
  .post_body_main {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px  #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 20vmin; /* Set width and height to same value for a perfect circle */
    font-size: 5vw;
    padding: 10px;
    text-align: center;
  }
  .post_body_main ,
  .new_body{
    width: 80%; /* Adjusted width percentage for medium-sized screens */
  }
  #post-title_box {
    width: 80%; /* Adjusted width for better responsiveness */
    max-width: 300px; /* Added max-width for larger screens */
    margin-top: 20px;
    height: 30px;
    margin-bottom: 10px;
  }
  #post-main_box {
    margin-top: 10px;
    width: 80%; /* Adjusted width for better responsiveness */
    max-width: 300px;
    height: 100px;/* Added max-width for larger screens */
  }
}
