
    #light .post-button{
        background-color: #f3f6f6;
        margin-top: 5px;
        padding: auto;
        width: 80px;
        border: solid 3px #DBE5E6;
        border-radius: 10px;
        color: #03282e;
      }
      #dark .post-button{
        background-color: #03282e;
        margin-top: 5px;
        padding: auto;
        width: 80px;
        border: solid 1px  #03282e;
        border-radius: 10px;
        color: #f3f6f6;
      }
      .post_body_main {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%; /* Adjust width percentage as needed */
        max-height: 80vh; /* Set a maximum height relative to the viewport height */
        overflow-y: auto; /* Add vertical scrollbar when content overflows */
        background-color: #DBE5E6;
        padding: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        text-align: center;
      }

      .post_body_top h3 {
        color: #004A54;
      }
      @media only screen and (max-device-width: 480px) and (orientation: landscape) {
        .post_body_main {
          margin-top: 55px;
          width: 60%; /* Adjust width percentage for landscape orientation */
          max-height: 60vh; /* Adjust maximum height relative to viewport height */
        }
      }
