
:root {
  --background-default: #f3ebf6; /* Default background color */
  --text-default: #000000; /* Default text color */
}
.App {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

}

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.Sidebar{
  height: 100%;
  width: 250px;
  background-color: rgb(123, 123, 123);
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
  margin-left: 10%; 
;
}
.Home {
  align-items: center;
  height: 100vh;
}
.Home_body{
margin-left: 30%;
}

.SidebarList .row {
  width :100%;
  height : 60px;
  background-color: #2d445d;
  color: whitesmoke;
  display: flex;
}
.flex-container {
  margin-top: 5%;
  padding: 0%;
  display: flex;
  justify-content: space-between; /* Space out the child elements */
 /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  /* Add space between direct children */
  /* Add more styling as needed */
}
.header{
  margin-top:5% ;
}
.header_a{
  margin-left:3% ;
}
#light {
  background-color: #f3ebf6;
  color: #000000;
}

#dark {
  background-color: #46045e;
  color: #ffffff;
}



body .main {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-default);
  color: var(--text-default);
  width: 400px;
  height: 500px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
body.dark-mode {
  --background-default: #46045e; /* Dark mode background */
  --text-default: #ffffff; /* Dark mode text */
  background-color: var(--background-default); /* Apply dark mode background color */
  color: var(--text-default); /* Apply dark mode text color */
  min-height: 100vh; /* Ensure at least full viewport height */
}
#light .main {
  background-color: #fff;
}
#light .sign {
  color: #8c55aa;
}

#dark .main {
  color: whitesmoke;
  background-color: #38004c;
}

.sign {
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
.contain{
  margin-left: 20%;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  height: 100vh;
}

#light .sign {
  color: #8c55aa;
}

#dark .sign {
  color: #ffffff;
}

.username {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 10px;

}

.password {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#light .username,
#light .password {
  color: rgb(38, 50, 56);
  background: rgba(136, 126, 126, 0.04);
}

#dark .username,
#dark .password {
  color: rgb(254, 255, 255);
  background: rgba(255, 247, 247, 0.299);
}

.username:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block; 
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.submit_body .p{
  text-align: center;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 15px;
}
ul {
  list-style-type: none;
}
a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}


@media (max-width: 600px) {
  .main {
    border-radius: 0px;
    height: auto; /* Adjust height to be auto so it doesn't cause overflow */
    margin-bottom: 30%;
  }
}

.switch {
  justify-content: center;
  align-items: right;
  margin-bottom: 10%;
}

.switch label {
  margin: 20px;
}
.contain_main {
 text-align: center;
}
.login-link{
  margin-bottom: 10%;
}
#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
