* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: -webkit-fill-available;
  -webkit-overflow-scrolling:auto;
  -webkit-tap-highlight-color:transparent;
  background-color: var(--background-color-light);
  transition: background-color 0.5s;
}

body.dark-mode {
  background-color: var(--background-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background-color-light: #DBE5E6;
  --background-color-dark: #004A54;
}
