*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-light);
  transition: background-color 0.5s;
}
body.dark-mode {
  background-color: var(--background-color-dark);
}
html, body {
  -webkit-overflow-scrolling : touch !important;
    overflow: auto !important;
    height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color-light: #DBE5E6;
  --background-color-dark: #004A54;
}
