*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-light);
  transition: background-color 0.5s;
  height: 100vh; /* Set body height to take up full viewport height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
}
html {

  /* Prevent font scaling in landscape */
 -ms-content-zooming: none;
 -ms-touch-action: pan-x pan-y;
 -webkit-text-size-adjust: none;
 -webkit-appearance: none;
 -moz-text-size-adjust: none; /*Firefox*/

 -ms-text-size-adjust: none;  /*Ie*/

 -o-text-size-adjust: none; /*old versions of Opera*/

}
body.dark-mode {
  background-color: var(--background-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color-light: #DBE5E6;
  --background-color-dark: #004A54;
}
